.title{
    color: rgb(68, 206, 68);
    margin-bottom: 40px;
    font-size: 30px;
}



.display{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    
}

.button{
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    padding: 10px;
    width: 170px;
    background-color: transparent;
}

.button:hover{
    background-color:rgb(104, 197, 104);
    color: white;
    cursor: pointer;
    
}

